[Desktop Entry]
Encoding=UTF-8
Name=Link to A Star JavaScript Pathfinding Demo
Type=Link
URL=http://ashblue.github.io/javascript-pathfinding/
Icon=text-html
